{% if parameter('TradeMasterPlugin_key') != '' %}
    <li class="nav-item dropdown hidden-caret">
        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fas fa-trademark"></i>
        </a>
        <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
            <div class="quick-actions-header">
                <span class="title mb-1">TradeMaster</span>
                <span class="subtitle op-8">Управление интеграцией</span>
            </div>
            <div class="quick-actions-scroll scrollbar-outer">
                <div class="quick-actions-items">
                    <form action="/cup/task/run" method="post" class="row m-0" onsubmit="return confirm('Вы действительно хотите выполнить это действие сейчас?');">
                        <button type="submit" name="task" value="Plugin\TradeMaster\Tasks\CatalogDownloadTask" class="col-12 col-md-6 p-0 btn btn-link">
                            <div class="quick-actions-item">
                                <i class="fas fa-download"></i>
                                <span class="text">Загрузить из ТМ</span>
                            </div>
                        </button>
                        <button type="submit" name="task" value="Plugin\TradeMaster\Tasks\CatalogUploadTask" class="col-12 col-md-6 p-0 btn btn-link">
                            <div class="quick-actions-item">
                                <i class="fas fa-upload"></i>
                                <span class="text">Выгрузить в ТМ</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </li>
{% endif %}

<script>
    if (location.pathname === '/cup/parameters') {
        // config worker
        document.addEventListener('DOMContentLoaded', () => {
            let $btn = $('[name="TradeMasterPlugin[update]"]'),
                $spin = $('<i class="fas fa-sync fa-spin ml-3"></i>');

            $btn.on('click', () => {
                $spin.insertAfter($btn.prop('disabled', true));

                $.getJSON('/api/trademaster/config', (res) => {
                    if (res) {
                        for (let field in res) {
                            if (res.hasOwnProperty(field)) {
                                let $el = $('[name="TradeMasterPlugin[' + field + ']"]').html('');

                                for (let value in res[field]) {
                                    if (res[field].hasOwnProperty(value)) {
                                        $el.append(
                                            $('<option>').attr('value', value).text(res[field][value])
                                        );
                                    }
                                }
                            }

                        }
                        $('[name="TradeMasterPlugin[config]"]').val(JSON.stringify(res));
                    }

                    $btn.prop('disabled', false);
                    $spin.detach();
                })
            });
        });
    }
</script>
